body{
    overflow-x: hidden;
}

.carrousel{
    width:75%;
    height: 69%;
}

.carrousel .grande{
    width: 1000%;
    height: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    float: left;
    margin-bottom: 5%;
}

.carrousel .img-carrousel{
    width: calc(100% / 10 - 2em);
    height: 100%;
    min-height: 10vh;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: block;
}

.carrousel .img-hide{
    visibility: hidden;
}

.carrousel .puntos{
    height: 10%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.carrousel .punto{
    width: 2em;
    height: 2em;
    background-color: white;
    margin: 1em;
    border-radius: 50px;
}

.carrousel .punto.activo{
    background-color: #751018;
}

/*********Estilos para responsivo**********/
@media screen and (max-width: 700px){
    .carrousel .punto{
        width: 1em;
        height: 1em;
    }
}